
<!DOCTYPE html>
<html>

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	    <title>Home - Brand</title>
	    <link href="assets/bootstrap/css/bootstrap.min.css"
	        rel="stylesheet">
	</head>
	
	<body >
	<div th:replace="fragments.html"></div>


  <header class="masthead text-white text-center" style="background:url('assets/img/bg_masthead.jpg')repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Votre tout nouvel espace météo !</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="/meteo" method ="post">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" name ="adresse" id="adresse" type="search" style="height: 60,6px;" placeholder="Entrez une adresse" required=""></div>
                            <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Rechercher</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
   <div th:replace="footer.html"></div>
	<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   </body>